<div class="container">

  <section class="section__uploaded">

    <h3>Your uploaded image!</h3>
    <div class="uploaded__box">     
      <img src="{{imageUrl}}?format=jpg&process=always&maxwidth=900" class="uploaded__img">
    </div>

    <div class="uploaded__link" >
      <h4 class="uploaded__link-title">SHARE THIS LINK</h4>
      <input type="text" name="image-url" type="text" class="uploaded__link-image btn" id="copy-public-field"
        value="{{shortImageUrl}}"
        contenteditable="false" readonly="">    
      <button onclick="$('#copy-public-field').focus()" class="uploaded__link-btn" type="button" >
        Copy Link
      </button>
      <div class="copied-message1">
        Link copied!
      </div>
    </div>

    <div class="uploaded__link">
      <h4 class="uploaded__link-title">YOUR PRIVATE LINK</h4>
      <input type="text" name="image-url" type="text" class="uploaded__link-image btn" id="copy-private-field"
        value="{{privateImageUrl}}"
        contenteditable="false" readonly="">      
      <button class="uploaded__link-btn" type="button" id="copy-private-button"
        onclick="$('#copy-private-field').focus()">
        Copy Link
      </button>
      <div class="copied-message2">
        Link copied!
      </div>    
    </div>
  </section>
  

  <section class="section__options">
    <h3>Choose additional adjustements to your image:</h3>
    <form id="form-options">
     <div class="options__simple">
        <div>
          <input type="radio" name="simple" value="original" id="original" checked="true">
          <label for="original">Original</label>
        </div>
        <div>      
          <input type="radio" name="simple" value="grayscale" id="grayscale">
          <label for="grayscale">Grayscale</label>
        </div>
        <div>      
          <input type="radio" name="simple" value="sepia" id="sepia">
          <label for="sepia">Sepia</label>
        </div>
        <div>      
          <input type="radio" name="simple" value="invert" id="invert">
          <label for="invert">Invert</label>
        </div>
      </div> 
      <button onclick="adjustImage()" type="button" class="btn btn-primary options__btn" id="adjust-btn">Adjust image</button>
    </form>    
  </section>

  <section class="section__metadata">
    <h3>Information about your image:</h3>
    <ul>
      <li class="section__metadata-item">Title: {{Title}}</li>
      <li class="section__metadata-item">Labels: {{Labels}}</li>
      <li class="section__metadata-item">Date: {{Date}}</li>
      <li class="section__metadata-item">Width: {{Width}}</li>
      <li class="section__metadata-item">Height: {{Height}}</li>
      <li class="section__metadata-item">Size: {{Size}}</li>
      <li class="section__metadata-item">Format: {{Format}}</li>
    </ul>
  </section>
  

  <section class="section__return">
    <p><a href="/">Upload new image</a></p>
  </section>  

  <section class="section__contact">
    <a href="https://www.facebook.com/" aria-label="facebook"><i class="fab fa-facebook"></i></a>
    <a href="https://twitter.com/" aria-label="twitter"><i class="fab fa-twitter"></i></a>
    <a href="https://www.instagram.com/" aria-label="instagram"><i class="fab fa-instagram"></i></a>
  </section>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<script>  

$('#copy-private-field').focus(function() {
	$(this).prop("readonly", false);
	$(this).prop("contenteditable", true);
	var range = document.createRange();
	var s = window.getSelection();

	s.removeAllRanges();
	s.addRange(range);

	this.setSelectionRange(0, 999999);

	if (document.execCommand("copy")) {
	  $(".copied-message2").show();

	}
	$(this).prop("readonly", true);
	$(this).prop("contenteditable", false);

});

$('#copy-public-field').focus(function() {
	$(this).prop("readonly", false);
	$(this).prop("contenteditable", true);
	var range = document.createRange();
	var s = window.getSelection();

	s.removeAllRanges();
	s.addRange(range);

	this.setSelectionRange(0, 999999);

	if (document.execCommand("copy")) {
	  $(".copied-message1").show();

	}
	$(this).prop("readonly", true);
	$(this).prop("contenteditable", false);

});


  function copyTextFunction() {
    let copyText = document.getElementById("image-url");

    copyText.focus();
    copyText.select();

    copyText.setSelectionRange(0, 99999); /*for mobile devices*/

    document.execCommand("copy");

    let tooltip = document.getElementById("tooltip");
    tooltip.innerHTML = "Copied: " + copyText.value;
  }

  function outFunc() {
      var tooltip = document.getElementById("tooltip");
      tooltip.innerHTML = "Copy to clipboard";
    }
 
  function adjustImage() {
    const originalOption = document.getElementById('original');
    const grayscaleOption = document.getElementById('grayscale');
    const sepiaOption = document.getElementById('sepia');
    const invertOption = document.getElementById('invert');
    const uploadedImg = document.querySelector('.uploaded-img');
    let imageSrc = "{{imageUrl}}?format=jpg&process=always&maxwidth=900";

    console.log('uploadedImg ' + imageSrc);

    if (originalOption.checked) {
      uploadedImg.setAttribute('src', imageSrc);
      console.log('btn orig');
    }

    if (grayscaleOption.checked) {
      uploadedImg.setAttribute('src', imageSrc + '&s.grayscale=true');
      console.log('btn grey');
    }

    if (sepiaOption.checked) {
      uploadedImg.setAttribute('src', imageSrc + '&s.sepia=true');
      console.log('btn sepia');
    }

    if (invertOption.checked) {
      uploadedImg.setAttribute('src', imageSrc + '&s.invert=true');
      console.log('btn invert');
    }

    console.log('uploadedImg ' + uploadedImg.src);
  } 

</script>